# compilation and distribution
__pycache__
_ext
*.pyc
*.so
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# pycharm editor settings
.idea

# vscode editor settings
.vscode

exp/
checkpoints/
_DEL_/
datasets/coco
datasets/cocosplit
datasets/VOC2007
datasets/VOC2012
datasets/vocsplit

weight/

wandb/
nohup.out

checkpoints/
coco-06-27/
wandb/
datasets/
trained_queue*
queue*

.nfs*
datasets
all_coco_voc.sh
all_voc.sh
coco_inference.sh
coco_train_base.sh
coco_train2.sh
coco_train3.sh
membank.sh
voc_train.sh
voc_train2.sh
voc_train3.sh